// Specific CSS for your home-page
.max-width {
  padding-top: 5vh;
  max-width: 600px;
  margin: 0 auto;
}
.pt5vh {
  padding-top: 5vh;
}
.white {
  background-color: #FFFFFF;
}
.dark {
  background-color: #C4C4C4;
}
.users-table {
  padding-bottom: 20px;
}
.address-holder {
  max-height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.address-holder::-webkit-scrollbar {
  display: none;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
#addons {
  display: flex;
  flex-direction: column;
}
.addon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
}
.addon-lhs {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.addon-name {
  font-weight: bold;
}
.addon-description {
  font-size: 12px;
  font-weigth: lighter;
}
.addon-rhs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
}
#printableArea {
  display: flex;
  justify-content: center;
}
.error {
  color: red;
}
.flexy-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.name-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  padding: 0 10px !important;
}
