// Specific CSS for your home-page
.max-width {
  padding-top: 5vh;
  max-width: 600px;
  margin: 0 auto;
}
.pt5vh {
  padding-top: 5vh;
}
.white {
  background-color: #FFFFFF;
}
.dark {
  background-color: #C4C4C4;
}
.users-table {
  padding-bottom: 20px;
}
