<div id="printableArea">
  <div style="text-align: center;">
    <span style="font-family: Arial, sans-serif">
      <span>Departing</span> <span id="departureDay">Monday</span><br />
      <strong id="departureDate" style="font-size:50px;">24 Aug</strong><br />
      Arrived: <span id="arrivalDate"></span> Wed 21 Aug 2019
    </span>

    <table text-align="center" width="100%">
      <tbody>
        <tr>
          <td align="center">
            <span style="font-family: Arial, sans-serif"
              ><span style="font-family: Arial, sans-serif">Smith</span></span
            >
          </td>
          <td>
            <span style="font-family: Arial, sans-serif"
              ><span style="font-family: Arial, sans-serif">SP64 XZY</span></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <strong style="font-size:16px; font-family: Arial, sans-serif">
      Electric Tent Pitch<br />
      <span>Adult: 2</span> <span>Child: 0</span> <span>Infant: 0</span> <br />
      ID: 001 - &pound;20 - H12</strong>
  </div>
</div>
