<h2>Redirecting....</h2>

<div class="frame-holder">
  <iframe src="<%= secure_form_booking_path @booking, acs_url: @url, pa_req: @pa_req %>" frameborder="1" height="800" width="600"></iframe>
</div>
