.loqate-btn {
  margin-bottom: 3px !important;
}

.unit-availability-holder {
  color: red;
  font-weight: bold;
  text-align: center;
}

.frame-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
