.loqate-btn {
  margin-bottom: 3px !important;
}

.unit-availability-holder {
  color: red;
  font-weight: bold;
  text-align: center;
}

.frame-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info {
  width: 30%;
  border: solid #ddd 1px;
  padding: 20px 20px;
  border-radius: 3px;
  div {
    display: flex;
    justify-content: space-between;
  }
}
