.loqate-btn {
  margin-bottom: 3px !important;
}

.unit-availability-holder {
  color: red;
  font-weight: bold;
  text-align: center;
}

.frame-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 50%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
  display: flex;
  justify-content: center;
  margin: 10px;
}

.taright {
  text-align: right;
}
.p40 {
  padding: 40px 0;
}

.cent {
  text-align: center;
}

.info {
  width: 100%;
  border: solid #ddd 1px;
  padding: 20px 20px;
  border-radius: 3px;
  div {
    display: flex;
    justify-content: space-between;
  }
}
